body{
    background: #e8e8e8;
}
.menu{
    list-style: none;
    padding: 0;
    background: #ff94a2;
    max-width: 950px;
    margin: auto;
}

.logo {
    padding: 0px;
    max-height: 35;
    
}

.enlace {
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
    font-family: "Pacifico";
    font-size: 1.25rem;
}

.menu li {
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
    transition: opacity 1s;
}

.menu li a:hover{
    background: #ff7987;
    cursor: pointer;
    color: #ffbb77;
    
    opacity: 1;

}

div{
    height: 500px;
}
/*code del baner*/

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
}
.baner {
    background-color: #f19d9d;
    border-radius: 0.5rem;
    display: block;
    width: 1300PX;
    height: 150px;
    margin: 10px;
    background-image: url(/LOGO/banner1.jpeg);
    text-align: center;
}
h1 {
    font-family: "Pacifico";
    font-size: 3rem;
    color: #ec4f4f;
    background-color: #f5c4c4;
}
/* esto es para el mostrador */
.mostrador {
    display: grid;
    grid-template-columns: auto auto auto auto auto;

    width: 100%;
    margin: 0 auto;
}
section article {
    transition: all 0.3s ease;
    background-color: #f19d9d;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    cursor: pointer;
    display: block;
    width: 250PX;
    height: 450px;
    text-align: center;
    margin: 10px;
    float: left;
}
section article h2 {
    font-family: "Pacifico";
    padding: 0px;
    margin: 0;
}
h3 {
    font-family: "Pacifico";
    padding: 0px;
    margin: 0;
    color: #e8e8e8;
}
section article:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.9);
    background-color: #f67a7a;
    width: 260px;
}
/*Pie de pagina*/
footer {
    background-color: #f67a7a;
    padding: 2rem;
    color: #fff;
    font-family: "Pacifico";
}

footer section {
    float: right;
}

footer p {
    margin: 0;
}

footer a {
    transition: color 0.3s;
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: cornflowerblue;
}
